/*
    Theme Name: Asymical
    Description: Personalized WordPress theme
    Author: Rémi Hay--Rimbault
    Author URI: https://www.remihr.fr
    Template: storefront
*/

:root {
    --primary: #D3463F;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}

.site-content {
    overflow: hidden;
}

.site-search,
.storefront-product-pagination,
.sku_wrapper {
    display: none !important;
}

.site-header {
    margin-bottom: 0 !important;
}

.onsale,
.woocommerce-tabs,
.storefront-sorting:nth-child(2),
.widget-area,
.menu-menu-footer-container {
    display: none !important;
}

.woocommerce-product-gallery {
    opacity: 1 !important;
}

.single-product div.product .woocommerce-product-gallery img {
    width: 100%;
}

.page {
    margin-bottom: 0;
}

.woocommerce-loop-product__title,
.add_to_cart_button,
.page-title,
.woocommerce-Price-amount,
.menu-toggle,
.wc-block-grid__product-title,
.product_title,
.button,
.single_add_to_cart_button,
.entry-title,
h1, h2, h3, h4, h5, h6, a, strong, label, th {
    font-weight: 800 !important;
}

.woocommerce-info, .woocommerce-noreviews, p.no-comments, .woocommerce-message, .single_add_to_cart_button {
    background: var(--primary) !important;
}

.wc-block-grid__product-price, .woocommerce-Price-amount {
    color: #6D6D6D;
}

h1, h2, h3, h4, h5, h6, strong, .wc-block-grid__product-title {
    color: var(--primary);
}

.content-area {
    width: 100% !important;
}

.wp-block-cover {
    margin-bottom: 50px;
}

a {
    transition: all 300ms ease-in-out;
}

.col-full {
    margin: 0;
    width: 100%;
    max-width: unset;
    padding: 0;
}

.wp-block-product-category,
.page-title,
.storefront-sorting,
.type-product,
.storefront-breadcrumb,
.site-header,
.entry-content,
.entry-title {
    margin: 0 5%;
}

li.product {
    margin-left: 5% !important;
}

.entry-title,
.page-title {
    margin-bottom: 40px;
}

.entry-summary > .entry-title {
    margin-left: 0 !important;
}

.products {
    margin: 0 2.5% !important;
}

/*********
* Style Newsletter *
*********/

.tnp-subscription-minimal {
    max-width: 425px;
    margin: 0 auto;
}

.tnp-subscription-minimal > form > .tnp-email,
.tnp-subscription-minimal > form > .tnp-submit {
    font-weight: bold;
}