.footer {
    display: flex !important;
    flex-direction: column;
    width: 100%;
    background: var(--primary);
}

.footer > .footer__row {
    width: 100%;
    border-bottom: 1px solid white;
}

.footer > .footer__row:last-child {
    border-bottom: none;
}

.footer > .footer__row > a > .footer__logo {
    width: 170px;
    margin: 35px auto;
}

.footer > .footer__row > .footer__list {
    display: flex;
    justify-content: center;
    column-gap: 25px;
    color: white;
    list-style: none;
    margin: 0;
    padding: 25px 0;
}

.footer > .footer__row > .footer__list > li > a {
    color: white;
    position: relative;
}

.footer > .footer__row > .footer__list > li > a:after {
    position: absolute;
    content: "";
    background: white;
    width: 0;
    left: 0;
    bottom: -1px;
    height: 1px;
    transition: width 300ms ease-in-out;
}

.footer > .footer__row > .footer__list > li > a:hover:after {
    width: 100%;
}

.footer > .footer__row > .footer__rs {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
    list-style: none;
    padding: 25px 0;
    margin: 0;
}

.footer > .footer__row > .footer__rs > .footer__link > a {
    color: white;
    font-size: 20px;
}

@media screen and (max-width: 767px) {
    .footer > .footer__row > .footer__list {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        row-gap: 10px;
    }
}
